<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="utests">
            <directory>./tests/utests</directory>
        </testsuite>
        <testsuite name="ftests">
            <directory>./tests/ftests</directory>
        </testsuite>
    </testsuites>
</phpunit>