<?php

define('DALENYS_TEST_IDENTIFIER', getenv('DALENYS_TEST_IDENTIFIER') ? getenv('DALENYS_TEST_IDENTIFIER') :  'IDENTIFIER');
define('DALENYS_TEST_PASSWORD', getenv('DALENYS_TEST_PASSWORD') ? getenv('DALENYS_TEST_PASSWORD') : 'PASSWORD');
